@import "utils";

.user-search-wrap{
    width: 100%;
    position: relative;

    &.disable{
        pointer-events:none;
    }

    .input-wrap{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;

        input{
            width: 100%;
            height: 40px;
            padding: 0px 48px 0 16px;
            border-radius: 6px; 
            border: 1px solid #303030; 
            outline-style: none;
            box-sizing: border-box;
            background-color: #242424;
            font-size: 14px;
            font-weight: 500;
            color:white;
            caret-color:#df86ff;

            &::placeholder{
                color:#525252;
            }
    
            &.disable{
                pointer-events:none;
            }
    
            &.show-remain-text{
                padding-right:52px;
            }
    
            &:focus, &.open{
                border-color:#df86ff;
            }
        }

        .icon-wrap{
            width:40px;
            height:40px;
            right: 4px;
            position: absolute;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }

    .user-list-wrap{
        width: 100%;
        padding:1px;
        position: absolute;
        top: 100%;
        border-radius: 6px;
        border: solid 1px #d86cff;
        background-color:#242424;
        z-index: 2;

        .user-list{
            width: 100%;
            max-height: 360px;
            overflow-y: auto;
            overflow-x: hidden;
            border-radius: 6px;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                background-color: #323232;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background-color: white;
            }

            &::-webkit-scrollbar-button {
                width: 0;
                height: 0;
            }
        }
    }

    .user-item{
        height:60px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .avatar-wrap{
            width:32px;
            height:32px;
            margin-left:16px;
            margin-right:12px;
            display: flex;

            img[src=""]{
                display: none;
            }

            .avatar{
                width:100%;
                height:100%;
                object-fit: cover;
                border-radius: 50%;
                border:1px solid #979797;
            }

            .avatar-default{
                width:100%;
                height:100%;
                border-radius: 50%;
                border:1px solid #979797;
                background-color: #d8d8d8; 
            }
        }

        .info-wrap{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;

            .nickname{
                font-size:14px;
                font-weight: 500;
                color:#FFFFFF;
            }

            .email{
                font-size:12px;
                font-weight: 500;
                color:#929292;
            }
        }

        .is-editor-wrap{
            width:40px;
            height:40px;
            margin-left:12px;
            margin-right:10px;
            padding:6px;

            .is-editor{
                width:28px;
                height:28px;
            }
        }

        &:hover{
            background-color: #323232;
        }

        &:active{
            background-color: #454545;
        }
    }

    .loading-wrap{
        width:40px;
        height:40px;
        right: 4px;
        position: absolute;
        display:flex;
        justify-content: center;
        align-items: center;

        .loading-progress{
            width:25px;
            height:25px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: $primary-color;
            border-right-color: $primary-color;
            border-bottom-color: $primary-color;
            animation: spinner .8s linear infinite;
        }
    }
}