.curation-selector-wrap{
    width: 100%;

    .curation-selector{
        width: 170px;
        display: inline-flex;
    }

    .curation-selector-input-wrap{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hyphen{
        width:16px;
        height:2px;
        padding: 0 8px;
        margin-left:2px;
        margin-right:2px;
        border-radius: 1px;
        background-color:#525252;
    }
}