.theme-item-template{
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .template-header{
        width:1160px;
        height:60px;
        margin-top: 24px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .back{
            width: 60px;
            height: 60px;
            padding: 6px;
            margin-left: -18px;
        }

        .control{
            padding:5px;
            display: flex;
            flex-direction: row;

            .delete{
                margin-right: 12px;
            }
        }
    }

    .theme-item-edit-form{
        display: flex;
        flex-direction: row;
        margin-top: 24px;
    }

    .primary-pannel{
        min-width: 360px;
        width: 360px;
        display: flex;
        flex-direction: column;

        .title-input-pos{
            margin-top:24px; 
        }
        .tag-input-pos{
            margin-top:24px;
        }
        .link-input-pos{
            margin-top:24px;
        }
        .post-period-pos{
            margin-top:24px;
        }
    }

    .thumbanil{
        width:240px;
        min-width: 240px;
        margin-left: 63px;
        display: flex;
        flex-direction: column;

        .capture-btn{
            margin-top: 10px;
        }
    }
    .large-video{
        width:240px;
        min-width: 240px;
        margin-left: 12px;
    }
    .normal-video{
        width:240px;
        min-width: 240px;
        margin-left: 12px;
    }
}